<html>

<head>
    <title>My Angular App!</title>

    <!-- External JS Libs -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>

    <!-- External CSS sheets -->
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <!-- Internal CSS sheets -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">


    <!-- Internal JS Files -->
    <script src="/app.module.js"></script>
    <script src="/app.routes.js"></script>
    <!-- Services-->
    <script src="/services/authService.js"></script>
    <script src="/services/postsService.js"></script>
    <!-- Componenets -->
    <script src="/components/nav/navCtrl.js"></script>
    <script src="/components/auth/authCtrl.js"></script>
    <script src="/components/posts/postsCtrl.js"></script>





</head>

<body ng-app="flapperNews">


    <div class="row">
      <div class="col-md-3">top left</div>
      <div class="col-md-6">top center </div>
      <div class="col-md-3" ng-include src="'/components/nav/nav.html'"></div>
    </div>
    <div class="row">
        <div class="col-md-3">center left</div>
        <div class="col-md-6">

            <ui-view></ui-view>

        </div>

        <div class="col-md-3">center right</div>

    </div>

<div class="footer">
  foot
</div>


</body>

</html>
